.layout-container{
  display: flex;
  flex-direction: column;

  height: 100%;
}

.main-container {
  display: flex;
  height: 100%;

  flex-grow: 1;
}

.content-container {
  height: 100%;
  padding: 10px;
}
